*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
.container{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.upper-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    
}
.game{
   
    display: flex;
    justify-content: center;

}
.frames{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    
}
.box{
    border: 1px solid black;
    padding: 10px;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    font-size: 50px;
    background-color: azure;
    color: black;
}

.reset{
    
    border-radius: 20px;
    background-color: whitesmoke;
    height: 50px;
    font-size: medium;
    width: 150px;
}
.msg-container{
    height: 50px;
    font-size: 40px;
    text-align: center;
    
}
.hide{
visibility: hidden;
}